<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://static.noisky.cn/homepage/font-awesome.min.css">
    <link rel="stylesheet" href="https://static.noisky.cn/homepage/main.css">
    <script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script type="text/javascript" src="https://static.noisky.cn/homepage/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://static.noisky.cn/homepage/main.js"></script>
</head>
<body>
<div th:fragment="footer">
    <div class="footer">
        <font color="#b3b3b3" style="white-space:nowrap">coder社区 © 2019  | ICP备0000000号</font>
        <div style="margin-left: 80px; padding: 10px">
            <!-- QQ -->
            <a href="https://wpa.qq.com/msgrd?v=3&uin=1341227188&site=qq&menu=yes" title="QQ联系我" target="_blank">
                <i class="social fa fa-qq"></i>
            </a>
            <!-- Weixin -->
            <a data-v="" href="#" title="扫一扫加我微信" class="wechat">
                <i class="social fa fa-weixin"></i>
            </a>
            <!-- Email -->
            <a href="mailto:1341227188@qq.com" title="发邮件给我">
                <i class="social fa fa-envelope"></i>
            </a>
        </div>
    </div>

</div>
</body>
</html>